
    <footer class="border-t py-6 md:py-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="container mx-auto flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row px-4">
        <p class="text-center text-sm leading-loose text-muted-foreground md:text-left dark:text-gray-300">
          © 2025 E-Recommentation. All rights reserved.
        </p>
        <div class="flex items-center gap-4">
          <a routerLink="/terms" class="text-sm font-medium hover:underline underline-offset-4 dark:text-gray-300">
            Terms
          </a>
          <a routerLink="/privacy" class="text-sm font-medium hover:underline underline-offset-4 dark:text-gray-300">
            Privacy
          </a>
        </div>
      </div>
    </footer>